<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="helloWorld" class="com.livetechstudy.spring.dependency.injection.HelloWorld">
		<!-- <property name="message" value="Hello World!" /> -->
		
		<!-- <constructor-arg value="Hello World!"></constructor-arg> -->
		<constructor-arg value="Hello World!" type="String" index="0"></constructor-arg>
	</bean>

</beans>